.dropdown {
  .current-box {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px #b3b3b3;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;

    .current-value {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 0.9rem;
    }
  }

  .dropdown-content {
    width: 150px;
    background-color: #fff;
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    border: 1px solid #ddd;
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px #b3b3b3;

    .filter-box {
      padding: 2px 10px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 5px;
      border: 1px solid #b3b3b3;

      input {
        width: 100%;
        padding: 5px;
        outline: none;
        border: none;
      }
    }

    .dropdown-options {
      max-height: 190px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        background: #bdbdbd;
        border-radius: 8px;

        &:hover {
          background-color: #aba7a7;
        }
      }

      .option {
        padding: 8px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        gap: 10px;

        &.disable {
          font-size: 12px;
        }

        &:not(.disable):hover {
          cursor: pointer;
          background-color: #f0f0f0;
        }
      }
    }

    &.show {
      display: block;
    }
  }

  .option-image {
    width: 24px;
    height: 24px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0px 0px 2px 1px var(--color-green-hover);
    }
  }
}
