.comment-input {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;
    border-radius: 100px;
    background: rgba(239, 239, 239, 0.30);
    box-shadow: 0px 0px 4px 2px rgba(0, 103, 69, 0.30);

    .user-avatar {
        width: 36px;
        height: 36px;

        img {
            width: 100%;
            border-radius: 50%;
        }
    }

    .input-box {
        flex-grow: 1;
        outline: none;
        border: none;
        line-height: 30px;
    }

    .comment-submit {
        width: 40px;
        font-size: 20px;
    }
}