.admin-main-layout {
  --sidebar-width: 235px;
  --header-height: 40px;
  --padding-bottom-main-content: 80px;

  @media only screen and (max-width: 1200px) {
    --sidebar-width: 200px;
  }
  @media only screen and (min-width: 476px) and (max-width: 992px) {
    --sidebar-width: 80px;
  }

  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  .sidebar-container {
    width: var(--sidebar-width);
    height: 100%;
    transition: 0.2s ease;

    .close-button {
      position: absolute;
      right: 0;
      top: 50%;
      z-index: inherit;
      font-size: 1.5rem;
      transform: translate(calc(100% - 15px), calc(-50% + -50px));
      cursor: pointer;
      color: #fff;
      background-color: var(--color-green);
      border-radius: 50%;
      box-shadow: 0 0 5px var(--color-green);
    }
  }

  .main-body {
    height: 100%;
    display: flex;
    width: calc(100% - var(--sidebar-width));
    flex-direction: column;
    .app-header {
      z-index: 100;
      width: 100%;
      background: #fff;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      padding: 0 20px;
      height: var(--header-height);

      display: flex;
      justify-content: space-between;
      align-items: center;

      .menu-button {
        font-size: 1.3rem;
        width: 0px;
        overflow: hidden;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .logo-mobile {
        display: none;
      }

      .header-button {
        display: flex;
        height: 100%;
        gap: 20px;
        align-items: center;
        justify-content: center;

        .header-Icon {
          font-size: 1.5rem;
          padding: 0 20px;
        }

        .header-user {
          padding: 0 20px;
          display: flex;
          align-items: center;
          overflow: hidden;
          gap: 10px;
          border-left: 2px solid;

          .avatar {
            min-width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 40px;
              height: 40px;
              object-fit: cover;
              border-radius: 50%;
            }
          }

          .username {
            font-size: 18px;
            font-weight: 600;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .main-content {
      width: 100%;
      height: calc(100% - var(--header-height));
      background-color: #f9f9f9;
      overflow-y: auto;
      // padding: 10px 0px 80px 0px;
    }
  }

  @media only screen and (max-width: 476px) {
    --sidebar-width: 250px;

    .app-header {
      padding: 0 10px !important;
      background-color: var(--color-green) !important;
      color: #fff !important;

      .header-Icon {
        padding: 0 10px !important;
      }
      .logo-mobile {
        display: block !important;
      }

      .header-user {
        display: none !important;
        overflow: hidden;
      }
    }
    .sidebar-container {
      position: absolute;
      z-index: 1000;
      left: 0;
      transform: translateX(-120%);

      &.show {
        transform: translateX(0%);
      }
    }

    .main-body {
      width: 100%;

      .app-header {
        .menu-button {
          width: 30px;
        }
      }
    }
  }
}
