.tree-modal {
  width: min-content;
  .rs-modal-content {
    padding: 0;
  }

  &.hidden {
    display: none;
  }

  .tree-modal-box {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    width: 400px;

    .tree-modal-header {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      padding: 10px;
      background-color: var(--color-green);
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      .close-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;

        width: 24px;
        height: 24px;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        border-radius: 50%;
        transition: 0.2s;

        &:hover {
          cursor: pointer;
          transform: scale(1.05) translateY(-50%);
        }
      }
    }

    .tree-modal-body {
      background-color: #fff;
      padding: 20px;

      .tree-info-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        .tree-info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;

          .title {
            font-size: 0.9rem;
            font-weight: 500;
            text-wrap: nowrap;
          }
          .value {
            font-size: 0.9rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 5px;
            width: min-content;
            min-width: 140px;

            & > * {
              width: 100%;
              & > * {
                width: 100%;
              }

              button {
                text-align: left;
                background-color: #fff;
                border: 1px solid var(--rs-border-primary);
              }
            }
          }
        }
      }
      // .tree-image {
      //   width: 30%;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   img {
      //     width: 100%;
      //     aspect-ratio: 1/1;
      //     object-fit: cover;
      //     border-radius: 5px;
      //     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
      //   }
      // }

      .tree-info-description {
        width: 100%;
        margin-top: 10px;
        padding: 5px 10px;
        border: 1px solid var(--color-border-button-no-fill);
        border-radius: 5px;
        text-align: justify;
        outline: none;
      }

      @media only screen and (max-width: 476px) {
        padding: 15px;
        font-size: 1rem;
        .tree-info-description {
          padding: 5px 8px;
        }
      }
    }

    .tree-modal-footer {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      padding: 10px 20px;
      background-color: var(--color-green);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: #fff;

      .submit-btn {
        font-weight: 500;
        font-size: 0.9rem;
        padding: 2px 5px;
        transition: 0.2s;
        border-radius: 4px;
        color: #fff;
        &:hover {
          cursor: pointer;
          background-color: #fff;
          color: var(--color-green);
        }
      }
    }
  }
}
