.phase-edit {
  width: min-content;
  .rs-modal-content {
    padding: 0;
  }

  .phase-modal-box {
    border-radius: 6px;
    display: flex;
    width: 800px;
    .phase-image-container {
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        background-image: url(https://wallpapers.com/images/featured/plant-background-mh4y9mexexlv960o.jpg);
        background-size: cover; /* Adjust as needed */
        background-position: center; /* Adjust as needed */
        opacity: 1;
      }
      &.b::before {
        opacity: 0.8;
      }

      .phase-image {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          cursor: pointer;
          width: 100%;
          box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .remove-btn {
          cursor: pointer;
          position: absolute;
          top: -5px;
          right: 5px;
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          align-self: 1/1;
          border-radius: 50%;
          background-color: #fff;
          color: var(--color-green);
          border: 1px solid var(--color-green);
        }
      }

      .upload-container {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        .upload-image {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          gap: 10px;
          color: #fff;

          .upload-icon {
            transition: 0.5s;
          }
          &:hover {
            span {
              text-decoration: underline;
            }
            .upload-icon {
              transform: translateY(-8px);
            }
          }
        }
      }
    }
    .phase-info-container {
      width: 55%;
      padding: 20px;
      box-shadow: inset 2px 0px #2c673d75;
      .phase-modal-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e0fff0;
        padding-bottom: 10px;
        .phase-modal-title {
          color: var(--color-green);
          font-weight: 500;
          font-size: 1.2rem;
        }

        .close-btn {
          cursor: pointer;
          transition: 0.2s;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          aspect-ratio: 1/1;
          &:hover {
            transform: rotate(90deg);
          }
        }
      }

      .phase-modal-body {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .phase-modal-footer {
        padding-top: 10px;
        .submit-btn {
          background-color: var(--color-green);
          color: #fff;

          &:hover {
            background-color: var(--color-green-hover);
          }
        }
      }
    }
  }
  .input-error {
    border: 1px solid var(--text-red) !important;
  }

  .error-message {
    color: var(--text-red);
    font-size: 12px;
    margin-top: 5px;
  }
}
