.slide-image {
  width: 100%;
  height: 100%;

  &:hover .btn-ward {
    pointer-events: unset;
    opacity: 1;
  }

  .btn-ward {
    pointer-events: none;
    opacity: 0;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff99;
    font-weight: 300;
    cursor: pointer;

    transition: .3s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
      color: #ffffff;
    }

    font-size: 30px;

    &.prev {
      left: 10px;

      &:hover {
        transform: translateY(-50%) translateX(-3px);
      }
    }

    &.next {
      right: 10px;

      &:hover {
        transform: translateY(-50%) translateX(3px);
      }
    }
  }

  .cumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 20;
    display: flex;
    gap: 20px;

    .cumb-dot {
      width: 10px;
      height: 10px;
      background-color: #ffffff75;
      border-radius: 50%;
      transition: .2s;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }

      &.active {
        background-color: #fff;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #000;
  }
}