.filter-search-container {
  height: 100%;
  @media only screen and (max-width: 1024px) {
    // display: none;
    position: Fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 999;
  }
  .toggle-btn {
    display: none;
    @media only screen and (max-width: 1024px) {
      display: block;
      position: absolute;
      left: -22px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      background-color: var(--color-green);
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      padding: 3px;
    }
  }
  .plant-reference {
    overflow-y: scroll;
    height: 100%;
    flex-grow: 1;
    width: var(--reference-width);
    background-color: white;
    border-left: 1px solid gray;
    padding: 10px 8px;
    @media only screen and (max-width: 1024px) {
      &.hidden {
        display: none;
      }
      &.show {
      }
    }
    .search-bar {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 16px;
      display: flex;
      .icon-and-input {
        width: 80%;
        border: 1px solid black;
        display: flex;
        padding: 8px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        span {
          width: 20%;
          cursor: pointer;
        }
        input {
          width: 80%;
          border: none;
          outline: none;
        }
      }
      .search-button {
        width: 20%;
        display: flex;
        align-items: center;
        text-align: center;
        border: 1px solid black;
        border-left: none;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        padding-left: 5px;
        color: green;
        font-weight: 600;
        cursor: pointer;
      }
    }
    .search-result-title {
      font-weight: 600;
      font-size: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid grey;
    }

    .filter-title {
      font-weight: 600;
      font-size: 18px;
      margin-top: 16px;
      margin-bottom: 6px;
    }

    .filter-container {
      .filter-all {
        display: flex;
        gap: 8px;
        padding: 12px 8px;
        border-radius: 8px;
        border: 1px solid var(--color-green);
        background-color: white;
        .icon-container {
          padding: 8px;
          border-radius: 50px;
          background-color: var(--color-green);
          display: flex;
          align-items: center;
          svg {
            background-color: white;
          }
        }

        .title {
          display: flex;
          align-items: center;
          color: var(--color-green);
          font-size: 16px;
        }
        &:hover {
          background-color: var(--color-green-hover);
        }
        &.active-all {
          background-color: var(--color-green);
          .icon-container {
            background-color: white;
            svg {
              background-color: white;
              color: white;
            }
          }
          .title {
            color: white;
          }
        }
      }

      .filter-type {
        .reference-list {
          margin-top: 5px;
          display: flex;
          flex-direction: column;
          gap: 5px;
          .reference-item {
            color: var(--color-green);
            user-select: none;
            padding: 8px 50px;
            border-radius: 6px;
            .dot {
              width: 7px;
              height: 7px;
              border-radius: 50px;
              background-color: var(--color-green);
              display: inline-block;
              margin-right: 10px;
            }

            &:hover {
              cursor: pointer;
              background-color: var(--color-green-hover);
              color: #fff;
              .dot {
                background-color: #fff !important;
              }
            }

            &.active {
              color: var(--color-white);
              background-color: var(--color-green);
              .dot {
                background-color: var(--color-white);
              }
            }
          }
        }
      }
    }
  }
}
