.modal-create-header {
  background-color: var(--color-green);
  height: 50px;
  width: 100%;
  padding: 10px 20px;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
.modal-create-footer {
  background-color: var(--color-green);
  height: 50px;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: row-reverse;
}
.modal-create-content {
  
  .field-upload {
    width: 158px;
    height: 120px;
    border: 1px dashed var(--color-green);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    object-fit: contain;
    &.error {
      border: 1px solid red;
    }
  }
  .container-current-img {
    .delete-btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 1rem;
      height: 1rem;
      background-color: red;
      transform: translate(30%, -30%);
      color: var(--color-white);
      border-radius: 50px;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}

.ck-editor__editable {
  min-height: 200px;
}