.confirm-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;

  &.hidden {
    display: none;
  }

  .confirm-modal-box {
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: #fff;
    padding: 20px;

    .confirm-modal-header {
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 1rem;

      .header-icon {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-warning);
      }
    }

    .confirm-modal-footer {
      padding-top: 20px;
      display: flex;
      justify-content: flex-end;

      .selection-group {
        display: flex;
        font-size: 1rem;
        gap: 10px;
        align-items: center;
        .select {
          padding: 3px 20px;
          text-align: center;
          border-radius: 5px;
          transition: 0.2s;

          &:hover {
            transform: translateY(-3px);
            cursor: pointer;
          }

          &.confirm-btn {
            color: #fff;
            background-color: var(--color-green);
          }

          &.cancel-btn {
            color: #333;
            border: 1px solid var(--color-border-button-no-fill);
          }
        }
      }
    }
  }
}
