.textarea {
  width: 100%;
  display: flex;
  align-items: center;

  textarea {
    overflow: unset;
    width: 100%;
    line-height: 1.5;
    outline: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;

    &:focus {
      box-shadow: 0 0 2px 1px #ccc;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #bdbdbd;

      &:hover {
        background-color: #7f7e7e;
      }
    }
  }

  .scrollY {
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
