.register-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .register-box {
    padding-bottom: 10px;
    .register-logo {
      padding: 20px;
      color: var(--color-green);
    }

    width: 400px;
    border: 2px solid var(--color-green);
    border-radius: 4px;
    @media screen and (max-width: 400px) {
      width: 100%;
    }
    .input-line {
      padding: 10px 50px;
      @media screen and (max-width: 330px) {
        padding: 10px 20px;
      }
      input {
        width: 100%;
        padding: 10px;
        background-color: #fafafa;
        border: none;
        outline: 1px solid #dbdbdb;
        border-radius: 2px;
      }

      .register-btn {
        width: 100%;
        padding: 10px;
        border: none;
        outline: 1px solid #dbdbdb;
        border-radius: 2px;
        background-color: var(--color-green);
        color: #fff;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
          background-color: var(--color-green-hover);
        }
      }

      &.or-name {
        display: flex;
        align-items: center;

        span {
          width: 20px;
          height: 1px;
          background-color: #dbdbdb;
          flex: 1;
        }

        div {
          margin: 0 20px;
          font-size: 0.8rem;
          font-weight: 500;
          color: #737373;
        }
      }

      &.register-direct {
        font-size: 0.85rem;

        @media screen and (min-width: 331px) {
          display: flex;
          justify-content: center;
          gap: 5px;
        }
        @media screen and (max-width: 330px) {
          text-align: center;
        }
        a {
          text-decoration: none;
          color: #00b2f9;
          font-weight: 500;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .input-error {
    border: 1px solid var(--text-red) !important;
  }

  .error-message {
    color: var(--text-red);
    font-size: 12px;
    margin-top: 5px;
  }
}
.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  .login-box {
    padding-bottom: 10px;
    .login-logo {
      padding: 20px;
      color: var(--color-green);
      &:hover {
        text-decoration: underline;
      }
    }

    width: 400px;
    border: 2px solid var(--color-green);
    border-radius: 4px;
    @media screen and (max-width: 400px) {
      width: 100%;
    }
    .input-line {
      padding: 10px 50px;
      @media screen and (max-width: 330px) {
        padding: 10px 20px;
      }
      input {
        width: 100%;
        padding: 10px;
        background-color: #fafafa;
        border: none;
        outline: 1px solid #dbdbdb;
        border-radius: 2px;
      }

      .login-btn {
        width: 100%;
        padding: 10px;
        border: none;
        outline: 1px solid #dbdbdb;
        border-radius: 2px;
        background-color: var(--color-green);
        color: #fff;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
          background-color: var(--color-green-hover);
        }
      }

      &.or-name {
        display: flex;
        align-items: center;

        span {
          width: 20px;
          height: 1px;
          background-color: #dbdbdb;
          flex: 1;
        }

        div {
          margin: 0 20px;
          @media screen and (max-width: 330px) {
            margin: 0 10px;
          }
          font-size: 0.8rem;
          font-weight: 500;
          color: #737373;
        }
      }

      &.register-direct {
        font-size: 0.85rem;

        @media screen and (min-width: 331px) {
          display: flex;
          justify-content: center;
          gap: 5px;
        }
        @media screen and (max-width: 330px) {
          text-align: center;
        }

        a {
          text-decoration: none;
          color: #00b2f9;
          font-weight: 500;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
