.phase-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  &.show {
    display: flex;
  }

  .phase-modal-box {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 450px;

    .phase-modal-header {
      padding: 10px;
      background-color: var(--color-green);
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      .close-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;

        width: 24px;
        height: 24px;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        border-radius: 50%;
        transition: 0.2s;

        &:hover {
          cursor: pointer;
          transform: scale(1.05) translateY(-50%);
        }
      }
    }

    .phase-modal-body {
      background-color: #fff;
      padding: 20px;

      .phase-info-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        .phase-info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;

          .title {
            font-size: 0.9rem;
            font-weight: 500;
            text-wrap: nowrap;
          }
          .value {
            font-size: 0.9rem;
            display: flex;
            align-items: center;
            gap: 5px;
            input {
              padding: 5px 10px;
              width: 100%;
              // text-align: end;
              outline: none;
              border: 1px solid var(--color-border-input);
              border-radius: 3px;

              &:focus {
                box-shadow: 0 0 2px 2px var(--color-border-input);
              }
            }
          }
        }
      }
      // .phase-image {
      //   width: 30%;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   img {
      //     width: 100%;
      //     aspect-ratio: 1/1;
      //     object-fit: cover;
      //     border-radius: 5px;
      //     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
      //   }
      // }

      .phase-info-description {
        width: 100%;
        margin-top: 10px;
        padding: 5px 10px;
        border: 1px solid var(--color-border-button-no-fill);
        border-radius: 5px;
        text-align: justify;
        outline: none;
      }

      @media only screen and (max-width: 476px) {
        padding: 15px;
        font-size: 1rem;
        .phase-info-description {
          padding: 5px 8px;
        }
      }
    }

    .phase-modal-footer {
      padding: 10px 20px;
      background-color: var(--color-green);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: #fff;

      .submit-btn {
        font-weight: 500;
        font-size: 0.9rem;
        padding: 2px 5px;
        transition: 0.2s;
        border-radius: 4px;
        color: #fff;
        &:hover {
          cursor: pointer;
          background-color: #fff;
          color: var(--color-green);
        }
      }
    }
  }
}
