.custom-calendar {
  background-color: #fff;
  border-collapse: collapse;
  box-shadow: 0px 0px 4px 2px #ccc;
  border-radius: 4px;

  .rs-calendar-table {
    overflow: hidden;
    .rs-calendar-table-header-row {
      background-color: var(--color-blue);
      border: 2px solid var(--color-blue);
      & * {
        color: #fff;
      }
    }
  }

  .rs-calendar-table-cell {
    border: 2px solid #ddd;

    .rs-calendar-table-cell-content {
      @media only screen and (min-width: 992px) and (max-width: 1200px) {
        aspect-ratio: 1/1;
        height: auto !important;
      }
      @media only screen and (max-width: 476px) {
        height: auto !important;
      }

      display: flex;
      flex-direction: column;

      .calendar-todo-list {
        flex-grow: 1;
        margin: 0;

        .replace {
          display: none;
        }
        @media only screen and (max-width: 800px) {
          .text-calendar {
            display: none;
          }
          .text-more {
            display: none;
          }
          .replace {
            display: block;
          }
        }
      }
      .text-calendar {
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @media only screen and (min-width: 992px) and (max-width: 1200px) {
          .reminder-time {
            display: none;
          }
        }
      }

      .text-more {
        text-align: left;
        color: dodgerblue;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .rs-calendar-table-cell-selected {
    box-shadow: inset 0 0 2px 2px var(--rs-input-focus-border);
    .rs-calendar-table-cell-content {
      box-shadow: unset;
    }
  }

  .rs-calendar-table-cell-un-same-month {
    opacity: 0.5;
    pointer-events: none;

    .replace {
      display: none !important;
    }
  }
}

.reminder-page {
  --right-width: 300px;
  height: 100%;
  display: flex;
  overflow-y: scroll;

  @media only screen and (max-width: 476px) {
    height: fit-content !important;
    display: unset;
  }

  .calendar-container {
    width: calc(100% - var(--right-width));
    padding: 20px 10px;
    overflow: auto;
  }

  .reminder-container {
    width: var(--right-width);
    overflow: hidden;
    padding: 20px 10px;
    .reminder-box {
      padding: 10px;
      // height: 100%;
      box-shadow: 0px 0px 4px 2px #ccc;
      border-radius: 4px;
      background-color: #fff;
      .remind-title {
        margin-bottom: 10px;
        font-size: 1.5rem;
        font-weight: 600;
      }
      .list-reminder {
        display: flex;
        flex-wrap: wrap;

        .reminder-item {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          padding: 10px 0;
          // border-bottom: 1px solid #ccc;
          border-top: 1px solid #ccc;
          transition: 0.2s;

          &:hover {
            background-color: #efefef;
            cursor: pointer;
          }

          .left {
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 2px;
            .note {
              display: flex;
              align-items: center;
              gap: 10px;
              a {
                display: inline-block;
                max-width: 100%;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            .datetime {
              display: flex;
              gap: 3px;
              color: #777;
              font-size: small;
            }
          }

          .right {
            display: flex;
            align-items: center;
            .remove-btn {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 5px;
              border-radius: 50%;
              color: #ba372a;
              &:hover {
                transition: 0.3s;
                transform: rotate(90deg);
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 992px) {
    flex-wrap: wrap;
    .calendar-container {
      width: 100%;
    }
    .reminder-container {
      width: 100%;

      .list-reminder {
        border-collapse: collapse;
        .reminder-item {
          border: none;
          border: 1px solid #ccc;
        }
      }
    }
  }
}

.tree-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  // gap: 5px;
  li.tree-info {
    &:first-child {
      border-top: none;
    }
    padding: 8px;
    // list-style:  none;
    display: flex;
    align-items: center;
    margin: none;
    gap: 10px;
    border-top: 1px solid #ccc;
    // &:hover {
    //   text-decoration: underline;
    // }
    img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      box-shadow: 0 0 2px #333;
    }
  }
}

.rs-popover:has(.tree-list) {
  padding: 0;
}
