.general-statistic-status-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
  gap: 8px;
  .statistic-tag {
    // background: linear-gradient(to right, rgb(1, 98, 232) 0, rgba(1, 98, 232, 0.5) 100%);
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    .left-content {

    }
    .right-content {
      color: var(--color-white);
      .title {
        text-transform: uppercase;
        font-size: 14px;
      }
      .value {
        font-size: 1.25rem;
      }
    }
  }
}
