@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@200;300;400;500;600;700&display=swap");

.app-logo {
  text-align: center;

  .logo-text {
    font-family: "Dancing Script", cursive;
    font-weight: 500;

    &.large {
      font-size: 2rem;
    }
    &.medium {
      display: none;
      font-size: 2rem;
    }
    &.small {
      display: none;
      font-size: 1.5rem;
    }
  }

  @media only screen and (max-width: 1200px) {
    .logo-text {
      font-size: 1.5rem;
    }
  }
  @media only screen and (min-width: 476px) and (max-width: 992px) {
    .logo-text.large {
      display: none;
    }
    .logo-text.small {
      font-weight: 700;
      font-size: 2rem;
      display: block;
    }
  }
}
