.status-statistic-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0 0 3px #b3b3b3;
    padding: 10px;
    .filter-chart {

    }

    .main-chart {
        height: 75vh;
        padding: 10px;
    }
}
