.chart-container {
    padding: 10px;
    // height: 100%;
    // height: 100vh;
    .overview {
        background-color: var(--color-white);
        border-radius: 8px;
        box-shadow: 0 0 3px #b3b3b3;
        padding: 10px;
        margin-bottom: 10px;
    }
    .bot-container {
        // height: 100%;
        height: 120vh;
        // height: 1000px;
        display: flex;
        flex-direction: column;
        // gap: 10px;

        background-color: var(--color-white);
        border-radius: 8px;
        // box-shadow: 0px 0px 4px 2px rgba(0, 103, 69, 0.30);
        box-shadow: 0 0 3px #b3b3b3;
        padding: 10px;
        margin-top: 10px;
        .filter-chart {
            // height: 30vh;
        }
        .main-chart {
            height: 60vh;
            //height: 100%;
            // height: 700px;
            // padding: 10px;
        }
    }
}
