.modal-delete {
  width: 500px;
  .header {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  .footer {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
}
