.rs-picker-toggle {
  padding-right: 11px !important;
  .rs-picker-toggle-indicator {
    position: static;
    * {
      position: static !important;
    }
  }
}

// .rs-picker-popup {
//   z-index: 101;
// }

.reminder-modal {
  width: min-content;
  .rs-modal-content {
    padding: 0;
  }
  .reminder-modal-box {
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 500px;

    .reminder-modal-header {
      padding: 10px;
      background-color: var(--color-green);
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      .close-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;

        width: 24px;
        height: 24px;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        border-radius: 50%;
        transition: 0.2s;

        &:hover {
          cursor: pointer;
          transform: scale(1.05) translateY(-50%);
        }
      }
    }

    .reminder-modal-body {
      background-color: #fff;
      padding: 20px;

      .reminder-info-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        .reminder-info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;

          .title {
            font-size: 0.9rem;
            font-weight: 500;
            text-wrap: nowrap;
            display: flex;
            align-items: center;
            gap: 10px;
            .icon-title {
              font-size: 1.2rem;
            }
          }
          .value {
            font-size: 0.9rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 5px;
            min-width: 125px;
            & > input {
              width: 100%;
              padding: 5px 10px;
              text-align: end;
              outline: none;
              border: 1px solid var(--color-border-input);
              border-radius: 3px;

              &:focus {
                box-shadow: 0 0 2px 2px var(--color-border-input);
              }
            }

            .dpick {
              width: 220px;
            }

            .tpick {
              width: 100px;
            }
          }

          .mode-btn {
            width: 125px;
            cursor: pointer;
          }

          .everyday-btn {
            border-radius: 3px;
            border: 1px solid #ccc;
            padding: 5px;
            white-space: nowrap;
            text-align: center;
            &.active {
              background-color: var(--color-green-hover);
              color: #fff;
              border: 1px solid var(--color-green-hover);
            }
          }
        }
      }

      .reminder-info-description {
        width: 100%;
        min-width: 200px;
        padding: 5px 10px;
        border: 1px solid var(--color-border-button-no-fill);
        border-radius: 5px;
        text-align: justify;
        outline: none;
      }

      @media only screen and (max-width: 476px) {
        padding: 15px;
        font-size: 1rem;
        .reminder-info-description {
          padding: 5px 8px;
        }
      }
    }

    .reminder-modal-footer {
      padding: 10px 20px;
      background-color: var(--color-green);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: #fff;

      .submit-btn {
        font-weight: 500;
        font-size: 0.9rem;
        padding: 2px 5px;
        transition: 0.2s;
        border-radius: 4px;
        color: #fff;
        &:hover {
          cursor: pointer;
          background-color: #fff;
          color: var(--color-green);
        }
      }
    }
  }
}
