.profile-page {
  width: 100%;
  height: 100%;
  .wr {
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    .profile-container {
      margin: 50px 0;
      width: 800px;
      // height: 1200px;
      background-color: #ccc;
      display: flex;
      border-radius: 6px;
      box-shadow: 0px 0px 20px var(--color-green);
      overflow: hidden;
      .profile-left {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background: linear-gradient(45deg, #345fd6, #2cdba6);
        .avatar {
          width: 100px;
          height: 100px;
          img {
            box-shadow: 0px 0px 5px 1px #fff;
            border-radius: 50%;
            width: 100%;
            height: 100%;
          }
        }

        .role {
          color: #fff;
          font-weight: 700;
        }
      }

      .profile-right {
        width: 70%;
        background-color: #fff;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .profile-header {
          text-transform: uppercase;
          font-weight: 700;
          font-size: large;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .profile-body {
          display: flex;
          flex-direction: column;
          gap: 15px;
          padding: 10px 20px;
          // flex-grow: 1;

          .line {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
              width: 50%;
              font-weight: 500;
            }

            .value {
              width: 50%;
              color: #0aa3c1;

              .error {
                box-shadow: 0 0 2px 1px red;
                border: none;
                outline: none;
              }
            }
          }
        }

        .password-bottom {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}

.modal-update-info {
  width: 500px;
  .header-title {
    span {
      font-weight: 600;
      font-size: 20px;
    }
    // padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    .close-btn {
      cursor: pointer;
    }
  }
  .body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .line {
      display: flex;
      align-items: center;
      .title {
        width: 40%;
      }
      .value {
        width: 60%;
      }
    }
  }

  .submit-area {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
  }
}
