.phase-plant {
  .phase-list {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media only screen and (max-width: 476px) {
      padding: 15px 10px;
    }

    .phase-card {
      background-color: #fff;
      width: calc((100% / 3) - 1rem);
      max-width: 500px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      overflow: hidden;
      &.hidden {
        opacity: 0;
        user-select: none;
      }

      @media only screen and (max-width: 1300px) {
        width: calc((100% / 2) - 10px);
      }
      @media only screen and (max-width: 600px) {
        width: 100%;
      }
      .img-container {
        width: 100%;
        aspect-ratio: 3/2;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .phase-no {
          position: absolute;
          top: 5px;
          left: 5px;
          background-color: #fff;
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          color: var(--color-green);
          font-weight: 500;
          border: 1px solid var(--color-green);
        }
      }

      .info-container {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        .phase-header {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          .phase-name {
            font-size: 16px;
            font-weight: 600;
          }
          .actions {
            display: flex;

            .action {
              width: 24px;
              height: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              transition: 0.2s;
              &:hover {
                transform: translateY(-3px);
              }
            }
          }
        }

        .phase-humid,
        .phase-range {
          display: flex;
          justify-content: space-between;
        }

        hr {
          margin: 5px 0;
        }

        .phase-description {
          text-align: justify;
        }
      }
    }
  }

  .add-stage-btn {
    position: fixed;
    z-index: 100;
    bottom: 30px;
    right: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 2px var(--color-green-hover);
    aspect-ratio: 1/1;
    background-color: var(--color-green-hover);
    transition: 0.2s;
    &:hover {
      transform: translateY(-5px);
      cursor: pointer;
    }
  }
}
