.image-style-side {
    float: right;
    margin-left: 1.5em;
}
.ck-editor__editable {
    max-height: 400px;
    min-height: 200px;
    overflow-y: auto;
    // border-color: red !important;
}

// .ck-editor__editable {
//     border-color: red; /* Màu viền bạn muốn */
// }