.bg-prevent-click {
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: gray;
  opacity: 0.3;
  z-index: 200;
}
.modal-index {
  z-index: 201 !important;
}
.text-pd-10 {
  font-size: 16px;
  padding: 10px 20px;
  color: black;
  font-weight: 400;
}
.cursor-pointer {
  cursor: pointer !important;
}
.container-reponsive {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  @include maxWidth(680) {
    display: flex;
    flex-direction: row;
  }
}
.pagination-active {
  border: 1px solid #0056b3;
  background: gainsboro;
  button {
    border: 1px solid #0056b3;
    background: gainsboro;
  }
}

.box-shadow-sm {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

// - boder radius-----
.br-5 {
  border-radius: 5px;
}
.b-bottom {
  border-bottom: 1px solid gray;
}
.over-flow-y-scroll {
  overflow-y: scroll;
}

// - margin---
.mb-10 {
  margin-bottom: 10px;
}
.mt-20 {
  margin-top: 20px;
}

//- padding---
.pd-10 {
  padding: 10px;
}
// row --
.row-flex,
.row-jc-center,
.row-jc-btw {
  width: 100%;
  padding: 5px 5px;
  min-height: 22px;
  display: flex;
  flex-direction: row;
}
.row-jc-btw {
  justify-content: space-between;
  align-items: flex-start;
}

.row-jc-center {
  justify-content: center;
  align-items: center;
}
.flex-40 {
  width: 40%;
}
.flex-60 {
  width: 60%;
}
.flex-10 {
  width: 10%;
}
.text-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.relative {
  position: relative;
}
// custom shape
.sq-lg {
  width: 100px;
  height: 100px;
}

.b-circle {
  border-radius: 50px;
  overflow: hidden;
}

// back ground ----

.bg-white {
  background-color: white;
}
.bg-green {
  background-color: var(--color-green);
}
// - size height and width
.w-50-prc {
  width: 50%;
}

.w-250px {
  max-width: 250px !important;
  width: 250px !important;
}
// text
.text-justify {
  text-align: justify;
}
.color-white {
  color: white;
}
.bold {
  font-weight: bold;
}

.mobile-view {
  display: none !important;
}

.desktop-view {
  display: block !important;
}
// ============== ICON BUTTON =======================
.btn-add-post,
.icon-dynamic,
.icon-static {
  position: fixed;
  right: 40px;
  bottom: 5px;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50px;
  border: none;
  background-color: var(--color-green-hover);
  color: white;
  z-index: 100;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.group-button-fixed {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  right: 40px;
  bottom: 5px;
  .btn-mode-fixed {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50px;
    border: none;
    background-color: var(--color-green-hover);
    color: white;
    z-index: 100;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn-add-post,
.icon-dynamic {
  &:hover {
    background-color: var(--color-green);
    transform: rotate(90deg);
  }
}

.icon-dynamic,
.icon-static {
  bottom: 50px;
  font-size: 30px;
}
.filler-blur {
  background: gray;
}
//=============================================
.modal-header {
  background-color: var(--color-green);
  height: 50px;
  padding: 0px 10px;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 200;
  justify-content: center;
  overflow-y: auto;
  .diary-modal-edit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
    width: var(--modal-width);

    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    .modal-custom-header {
      height: var(--height-modal-header);
      background-color: var(--bg-color-nav-modal);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 10px;
    }
    .modal-custom-footer {
      height: var(--height-modal-header);
      background-color: var(--bg-color-nav-modal);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 10px;
    }
  }
}

.c-card-img {
  width: 30%;
  float: right;
  background: #ededed;
  padding: 5px;
  margin: 5px 0px 15px 15px;
  border: 1px solid #b7b7b7;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .c-card-title {
    padding-top: 8px;
    text-align: center;
    font-size: var(--c-text-base);
  }
}
.img {
  width: 30%;
  height: auto;
  max-width: 300px;
  margin: 5px;
}

.btn-cancel {
  background-color: var(--color-green);
  border: none;
  padding: 0;
  width: 28px;
  border-radius: 44px;
  height: 28px;
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-loading-custom {
  background-color: var(--color-green);
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: var(--color-green-hover);
  }
}
.btn-cancel:hover {
  background-color: var(--color-green-hover);
  transform: rotate(90deg);
}
.overlay-background {
  position: fixed;
  z-index: 999;
  background: rbg(gray, gray, gray, 0.6);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@include maxWidth(1024) {
  //table
  .mobile-view {
    display: block !important;
  }
  .desktop-view {
    display: none !important;
  }
  .btn-add-post,
  .icon-dynamic,
  .icon-static {
    right: 10px;
  }
}
@include maxWidth(768) {
  // midle tablet
  .btn-add-post,
  .icon-dynamic,
  .icon-static {
    right: 5px;
  }
}

@include maxWidth(480) {
  //mobile
}
.general-statistic-wr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
  gap: 8px;
  .statistic-tag {
    // background: linear-gradient(to right, #4facfe, #00f2fe);
    background: linear-gradient(
      to right,
      rgb(1, 98, 232) 0,
      rgba(1, 98, 232, 0.5) 100%
    );
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    .right-content {
      color: var(--color-white);
      .title {
        text-transform: uppercase;
        font-size: 14px;
      }
      .value {
        font-size: 1.25rem;
      }
    }
  }
}
