$screen-xs: 576px; // Extra small devices (portrait phones, less than 576px)
$screen-sm: 768px; // Small devices (landscape phones, 576px and up)
$screen-md: 992px; // Medium devices (tablets, 768px and up)
$screen-lg: 1200px; // Large devices (desktops, 992px and up)
$screen-xl: 1600px; // Extra large devices (large desktops, 1200px and up)

@mixin maxWidth($breakpoint) {
  @media only screen and (max-width: "#{$breakpoint}px") {
    @content;
  }
}
@mixin maxHeight($breakpoint) {
  @media only screen and (max-height: "#{$breakpoint}px") {
    @content;
  }
}
:root {
  --color-green: #0c9869;
  --color-green-hover: #35ad85;
  --color-light: #eeeeee;
  --color-white: #ffffff;
  --color-gray: #a2a9b1;
  --color-icon-CRUD: #333333;
  --color-border-button-no-fill: #d9d9d9;
  --color-border-input: #cccccc;
  --color-warning: #faad14;
  --color-background: #f2f2f6;
  --color-blue: #4cb5f9;
  --color-view-more: #a0e2cc;
  --color-header: #065a3e;
  --coloer-light-blue: #c6e8ff;
  --status-death: #aaaaaa;
  --status-warning: #ff522c;
  --status-well: #1ab7c1;
  --title: #3366cc;
  --text-normal: #000000;
  --text-gray: #838383;
  --text-red: #ff4d4f;
  
  //--------------------
  --modal-width-base: 400px;
  --modal-width: 450px;
  --modal-height-base: 280px;
  --modal-height: 550px;
  --height-modal-header: 50px;
  --height-modal-footer: 50px;
  --bg-color-nav-modal: var(--color-green);
  //-------------------
  --c-text-sm: 12px;
  --c-text-base: 16px;
  --c-text-xl: 20px;
  --c-text-2xl: 24px;
  --c-text-3xl: 28px;
  --c-text-4xl: 32px;
  --c-text-5xl: 40px;
  @include maxWidth(1024) {
  }
  @include maxHeight(768) {
    --modal-height: 90%;
  }
  @include maxWidth(768) {
    --modal-width: 90%;
    // --c-text-base: floor(14px * 0.8);
    // --c-text-xl: 20px;
    // --c-text-2xl: 24px;
    // --c-text-3xl: 28px;
    // --c-text-4xl: 32px;
    // --c-text-5xl: 40px;
  }
  @include maxHeight(480) {
    --modal-height: 100%;
  }
  @include maxWidth(480) {
    --modal-width: 100%;
    --modal-width-base: 100%;
    // --c-text-base: 14px;
    // --c-text-xl: 20px;
    // --c-text-2xl: 24px;
    // --c-text-3xl: 28px;
    // --c-text-4xl: 32px;
    // --c-text-5xl: 40px;
  }
}

.c-text-sm {
  font-size: var(--c-text-sm);
}
.c-text-base {
  font-size: var(--c-text-base);
}
.c-text-xl {
  font-size: var(--c-text-xl);
}
.c-text-2xl {
  font-size: var(--c-text-2xl);
}
.c-text-3xl {
  font-size: var(--c-text-3xl);
}
.c-text-4xl {
  font-size: var(--c-text-4xl);
}
.c-text-5xl {
  font-size: var(--c-text-5xl);
}
