body {
  margin: 0;
  background-color: var(--color-background);
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Noto Sans";
  box-sizing: border-box;
  position: relative;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 8px;

    &:hover {
      background-color: #aba7a7;
    }
  }
}

.d-hidden {
  display: none !important;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.nav-link {
  display: block;
  padding: 0px;
}

p > a {
  color: var(--color-green);

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
