.plant-page {
  --reference-width: 280px;

  @media only screen and (max-width: 1200px) {
    --reference-width: 220px;
  }

  @media only screen and (min-width: 700px) and (max-width: 992px) {
    --reference-width: 30%;
  }

  @media only screen and (max-width: 700px) {
    --reference-width: 0px;
  }

  display: flex;
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  .plant-info {
    width: calc(100% - var(--reference-width));
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    .plant-info-header {
      background-color: #fff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      .plant-header-group {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .group-left {
          display: flex;
          gap: 20px;
          align-items: center;
          color: var(--color-green);
          font-size: 20px;
          .btn-back {
            cursor: pointer;
          }
          .plant-name {
            font-weight: 700;
          }
        }

        .group-right {
          margin-right: 5%;
          .btn-feedback {
            padding: 3px 10px;
            background-color: var(--status-well);
            font-size: 1rem;
            color: #fff;
            border-radius: 5px;
            border: none;
          }
        }
      }
      .plant-navbar {
        padding: 0px 20px;
        display: flex;
        .plant-nav {
          font-size: 1rem;
          font-weight: 500;
          color: var(--text-gray);
          border-top: 3px solid transparent;
          .plant-nav-item {
            padding: 10px 20px;
          }
          .active {
            color: var(--color-green-hover);
            border-bottom: 3px solid var(--color-green-hover);
          }
        }
      }
    }

    .plant-info-content {
      flex-grow: 1; /* Phần tử này sẽ mở rộng để điền vào phần trống của phần tử cha */
      height: auto;
      overflow-y: scroll !important;
    }
  }

  .plant-reference {
    width: var(--reference-width);
    height: 100%;
    background-color: white;
    border-left: 1px solid gray;

    .show-reference-btn {
      display: none;
    }
    .reference {
      height: 100%;
      padding: 20px 10px;
      background-color: #fff;
      border-left: 1px solid var(--color-border-button-no-fill);
      .reference-title {
        padding: 0 10px;
        font-size: 20px;
        font-weight: 500;
      }
      .reference-list {
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: var(--color-green);

        .reference-item {
          user-select: none;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }

        @media only screen and (min-width: 800px) and (max-width: 992px) {
          padding: 20px;
        }

        @media only screen and (max-width: 800px) {
          padding: 10px;
        }
      }
    }
    @media only screen and (max-width: 1300px) {
      width: 270px;
    }
    @media only screen and (max-width: 992px) {
      width: 230px;
    }
    @media only screen and (max-width: 800px) {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(100%);
      transition: 0.4s;
      &.show {
        transform: translateX(0%);
      }

      .show-reference-btn {
        display: block;
        position: absolute;
        top: 50%;
        left: -5px;
        transform: translateX(-50%);
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        box-shadow: 0px 0px 10px var(--color-green);
        cursor: pointer;
        transition: 0.2s;
        color: var(--color-green);

        &.show {
          .icon {
            transform: rotate(180deg);
          }
        }
        &.show:hover {
          left: -3px;
        }

        &:hover:not(.show) {
          left: -9px;
        }
      }
    }
  }

  .modal-feed-back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
    position: fixed;
    width: var(--modal-width-base);
    height: var(--modal-height-base);
    left: calc(50vw - var(--modal-width-base) / 2);
    top: calc(50vh - var(--modal-height-base) / 2);
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    z-index: 201;
    .modal-custom-footer {
      background-color: var(--color-green);
      height: 50px;
      width: 100%;
      padding: 10px 20px;
      display: flex;
      flex-direction: row-reverse;
    }
    .modal-title {
      height: 185px;
      padding: 10px;
      .row-plant-info {
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        .title {
          width: 50px;
        }
        .plant-info-row-feed-back {
          display: flex;
          flex-direction: row;
          .plant-avatar {
            border-radius: 50px;
            width: 30px;
            height: 30px;
            background: var(--color-green);
            overflow: hidden;
            img {
              width: 100%;
            }
          }
          .plant-name {
            margin-left: 15px;
          }
        }
      }
      .row-content {
        height: 125px;
        width: 100%;
        .plant-input-row-feed-back {
          height: 100px;
          textarea {
            resize: none;
            width: 100%;
            height: 100px;
            font-size: 16px;
            padding: 5px;
            overflow-y: scroll;
          }
        }
      }
    }
  }
}
.plant-feed-back-page {
  padding: 20px;
  .row-feed-back {
    background: white;
    border-radius: 5px;
    margin: 10px 0px;
    box-shadow: 0px 0px 4px 0px var(--color-gray);
    .header {
      height: 40px;
      width: 100%;
      padding: 0px 10px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid gray;
      text-align: center;
      align-items: center;
      .author-name {
        font-size: 16x;
        font-weight: bold;
      }
      .created-at {
        font-size: 14px;
      }
      .is-seen {
        font-size: 14px;
        display: inline-block;
        padding: 5px 10px;
      }
      .watting {
        background: #fef2e5;
        color: #cd6200;
      }
      .seen {
        background: #ebf9f1;
        color: #1f9254;
      }
    }
    .body {
      padding: 5px 10px;
    }
  }
}
