.auth-layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  .auth-box {
    width: 500px;
  }
}
