.statistics-new-subscriber-container {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    // gap: 10px;

    background-color: var(--color-white);
    border-radius: 8px;
    // box-shadow: 0px 0px 4px 2px rgba(0, 103, 69, 0.30);
    box-shadow: 0 0 3px #b3b3b3;
    .filter-chart {
    }
    .main-chart {
        height: 75vh;
        padding: 10px;
    }
}
