.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--color-green);
  color: #fff;
  box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  z-index: 10;

  .sidebar-top {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;

    .sidebar-user {
      display: none;
      overflow: hidden;
    }

    @media only screen and (max-width: 476px) {
      border-bottom: 2px solid #ccc;
      .logo-sidebar {
        display: none;
      }
      .sidebar-user {
        padding: 0 10px;
        display: flex;
        align-items: center;
        overflow: hidden;
        gap: 10px;
        width: 100%;

        .avatar {
          min-width: 60px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .username {
          font-size: 18px;
          font-weight: 600;
          color: #000;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .sidebar-nav-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    // justify-content: center;
    // gap: 10px;
    // transform: translateY(-50px);

    @media only screen and (max-width: 476px) {
      padding: 10px;
    }
  }

  .nav-item {
    transition: 0.2s;
    text-decoration: none;
    color: #ddd;
    display: flex;
    align-items: center;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    font-size: 1rem;
    padding: 15px 0;
    font-weight: 400;

    &:hover {
      background-color: #ffffff37;
    }

    &.nav-active {
      font-weight: 600;
      color: #fff;
      border-left: 5px solid #fff;
    }

    .nav-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
    }

    .nav-title {
      text-wrap: nowrap;
    }
  }

  @media only screen and (max-width: 476px) {
    background-color: #fff;

    .nav-item {
      color: #000;
      border-radius: 5px;

      &.nav-active {
        background-color: var(--color-green);
        border-left: 5px solid transparent;
      }
    }
  }

  .sidebar-bottom {
    border-top: 2px solid #fff;
    padding: 10px;

    .nav-icon {
      transform: rotate(180deg);
    }
  }

  @media only screen and (max-width: 1200px) {
    .nav-item {
      width: 100%;
      font-size: 1rem;

      .nav-icon {
        padding: 0 15px;
      }
    }
  }
  @media only screen and (min-width: 476px) and (max-width: 992px) {
    .nav-item {
      position: relative;
      overflow: hidden;
      .nav-icon {
        width: 100%;
        padding: unset;
      }
      .nav-title {
        position: absolute;
        top: 50%;
        left: calc(100% + 10px);
        user-select: none;
        pointer-events: none;
        transform: translateY(-50%) translateX(-10px);
        background-color: var(--color-green);
        color: #fff;
        border-radius: 3px;
        transition: 0.2s ease-in-out;
        padding: 5px 10px;
        opacity: 0;
      }

      &:hover {
        overflow: unset;
        .nav-title {
          transform: translateY(-50%);
          opacity: 1;
        }
      }
    }
  }
}
