.landing-page-container {
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./background.jpg);
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    opacity: 0.9;
  }
  .background-layer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0, 79, 69, 0.9);
    .wr {
      width: 1200px;
      display: flex;
      flex-direction: column;
      .header {
        padding: 10px;
        display: flex;
        color: #fff;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #ccc;

        .contact {
          display: flex;
          gap: 10px;
          align-items: center;

          .fb-icon {
            &:visited {
              color: #fff;
            }
            font-size: 24px;
          }

          .mail-icon {
            font-size: 30px;
          }
        }
      }
      .body {
        width: 100%;
        display: flex;
        padding: 20px 10px;
        padding-top: 100px;
        justify-content: center;
        flex-grow: 1;
        gap: 20px;
        .left {
          width: 50%;
          display: flex;
          .quote-container {
            padding: 30px;
            color: #fff;
            .quote {
              margin-bottom: 10px;
              font-size: 40px;
              font-weight: 500;
            }
            .description {
              // font-weight: 300;
              text-align: justify;
              // text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.9);
            }

            .actions {
              margin-top: 10px;
              display: flex;
              .login-btn {
                padding: 15px 20px;
                background-color: #f5b218;
                display: flex;
                gap: 10px;
                align-items: center;
                cursor: pointer;
                transition: 0.4s;

                &:hover {
                  transform: translateX(5px);
                }
              }
            }
          }
        }
        .right {
          width: 50%;
          display: flex;

          .image-container {
            display: flex;
            gap: 3px;
            height: 503px;
            .image-left {
              width: 223px;
              display: flex;
              flex-direction: column;
              gap: 3px;
              height: 100%;

              .top {
                width: 100%;
                height: 100%;
                img {
                  width: 100%;
                  object-fit: cover;
                }
              }
              .bottom {
                img {
                  aspect-ratio: 1/1;
                  width: 100%;
                  object-fit: cover;
                }
              }
            }
            .image-right {
              width: 300px;
              height: 100%;
              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }
          }

          .image {
            img {
              box-shadow: 0px 0px 2px 1px #fff;
              border-radius: 6px;
              width: 100%;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 800px) {
    .background-layer .wr {
      width: 100%;
      overflow: hidden;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        width: 0px;
      }
      .header {
        position: sticky;
        top: 0;
        z-index: 1;
        background: #004f45;
        padding: 10px 20px;
      }

      .body {
        overflow: hidden;
        overflow-y: scroll;
        display: block;
        padding: 0;
        &::-webkit-scrollbar {
          width: 0px;
        }

        .left {
          width: 100%;
          .quote-container {
            padding: 20px;

            .quote {
              font-size: 30px;
            }
          }
        }

        .right {
          width: 100%;
          display: block;
          .image-container {
            flex-direction: column;
            padding: 10px 20px;
            height: unset;
            gap: 5px;
            align-items: center;
            img {
              border-radius: 4px;
            }

            .image-left {
              gap: 5px;
              width: 100%;
            }

            .image-right {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
