.wr-post-plant {
  padding: 20px;
  padding-bottom: 100px;
  .row-box {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    .post-title {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
      border-bottom: 1px solid var(--color-gray);
      h1 {
        font-size: var(--c-text-2xl);
      }
    }

    .post-content-head {
      padding: 10px 20px;
      text-align: justify;
      display: inline-block;
      word-break: break-word;
      display: flex;
      flex-direction: column-reverse;
      gap: 20px;
      .post-content-text {
        font-size: var(--c-text-base);
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .post-content-image {
        img {
          width: 100%;
          object-fit: contain;
          max-width: 100%;
          height: auto;
        }
      }
      @media only screen and (min-width: 993px) {
        flex-direction: row;
        .post-content-text {
          width: 70%;
        }
        .post-content-image {
          width: 30%;
        }
      }
    }

    .post-content {
      padding: 10px 20px;
      text-align: justify;
      display: inline-block;
      word-break: break-word;
      img {
        max-width: 100%;
        height: auto;
      }
      .post-content-text {
        font-size: var(--c-text-base);
        img {
          max-width: 100%;
          height: auto;
        }
      }
      p {
        font-size: var(--c-text-base);
        margin-bottom: 8px;
      }
      a {
        color: var(--color-green);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.edit-area {
  width: 100%;
  height: 200px;
  font-size: var(--c-text-sm);
}
.btn-library {
  font-size: 18px;
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 5px;
}
.btn-library:hover {
  background-color: rgb(187, 185, 185);
}
.btn-save {
  color: white;
  font-size: 18px;
  background-color: var(--color-green);
  border: none;
  padding: 0px 20px;
  border-radius: 5px;
  margin-left: 5px;
}
.btn-save:hover {
  background-color: var(--color-green-hover);
}

.modal-edit-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  width: 90%;
  margin: 20px 20px;
  max-width: 600px;
  top: 50%; /* Đặt top ở giữa màn hình */
  left: 50%; /* Đặt left ở giữa màn hình */
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 15px;
  overflow: hidden;

  .modal-custom-footer {
    background-color: var(--color-green);
    height: 50px;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: row-reverse;
  }

  .modal-custom-body {
    overflow: hidden;
    .modal-title {
      padding: 5px 10px;
      border-bottom: 1px solid #888;
      .title-input {
        // font-size: 18px;
        display: flex;
        align-items: center;
        gap: 8px;
        p {
          width: 80px;
          margin-bottom: 0;
        }
        .right-container {
          width: 100%;
          input {
            height: 35px;
            width: 100%;
            border-radius: 0px;
            // padding: 1px 20px;
            font-size: 18px;
            // outline: blue;
            &.error {
              border-color: var(--text-red);
              outline: none;
            }
          }
        }
      }

      @media only screen and (max-width: 576px) {
        font-size: 15px;
      }
    }
    .content-input {
      padding: 5px 10px;
      & > p {
        margin: 5px 0px;
      }
    }

    .error-message-container {
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      .text-container {
        padding-left: 4px;
        .explain-error {
          font-size: 0.85rem;
          color: var(--text-red);
        }
      }
    }
  }
}
