.modal-custom-body {
  .body-line {
    display: flex;
    justify-content: space-between;
    .title {
      display: flex;
      gap: 10px;
      align-items: center;
      font-weight: 500;
    }
    .value {
      font-size: 0.85rem;
      input[type="date"] {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        outline: none;
        cursor: pointer;
      }
      .select {
        display: flex;
        overflow: hidden;
        .option {
          padding: 3px 8px;
          border: 1px solid var(--color-gray);
          &:hover:not(.active) {
            cursor: pointer;
            background-color: #efefef;
          }
          &.active {
            color: #fff;
            background-color: var(--color-green);
            border: 1px solid var(--color-green);
          }

          &:first-child {
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
          }
          &:last-child {
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
          }
        }
      }
    }
  }
  .body-top {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid var(--color-border-input);
  }
  .body-bottom {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .value {
      width: 50%;
      .wr-image {
        height: 150px;
        border: 1px dashed var(--color-green);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        .remove-img {
          padding: 3px;
          width: 1rem;
          height: 1rem;
          position: absolute;
          top: 0;
          right: 0;
          background-color: #e0454c;
          color: #fff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: translate(20%, -20%);
          transition: 0.2s;
          &:hover {
            transform: translate(20%, -20%) scale(1.1);
          }
        }
      }
    }
  }
}
.tree__diary-box-header-menu {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  &:hover {
    background-color: #ccc;
  }
}
