.wr-diary-page-responsive {
  display: flex;
  height: 100%;
  padding: 1rem 10px;
  gap: 10px;
  @media only screen and (max-width: 1024px) {
    padding: 2rem 5px;
  }

  .plant-image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .tree-info {
    justify-content: space-between;
    .tree-title {
      font-weight: 600;
    }
    .tree-value {
      text-align: end;
    }

    .tree-description {
      max-width: 60%;
      word-break: break-word;
    }
  }

  .tree-remind {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #aaa;
    margin-top: 10px;
    padding: 10px 0;
    overflow-y: auto;
    height: 100%;
    .remind-item {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border-radius: 8px;
      &:hover {
        background-color: #eee;
      }
    }
  }

  .wr-diary-page--tree-info {
    width: 35%;
    height: 100%;
    max-width: 500px;
    .b-tree-info {
      width: 100%;
      background: white;
      min-height: 100px;
    }
  }
  .wr-diary-page--diary {
    width: 100%;
    // height: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    .wr-diary-page--tree-info {
      width: 100%;
      display: flex;
      gap: 20px;
      align-items: flex-start;
      justify-content: center;
      .box-shadow-sm {
        min-width: 200px;
        height: 350px;
      }
      .mt-20 {
        margin-top: 0px;
      }
    }
  }
}
.timer-path {
  position: absolute;
  width: 10px;
  height: calc(100% - 70px);
  left: calc(50% - 5px);
  background-color: #34cc68;
  border-radius: 10px;
  top: 50px;
}
.point-item {
  width: 20px;
  height: 20px;
  margin-top: 20px;
  border-radius: 50%;
  padding: 3px;
  font-weight: 700;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.row-diary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;

  &.reverse {
    flex-direction: row-reverse;
  }
  .diary-item-container {
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    gap: 3px;
    .date-txt {
      font-size: 14px;
      min-height: 20px;
      word-wrap: break-word;
      // margin-bottom: 8px;
    }
    .diary-content-item {
      width: 100%;
      min-height: 30px;
      background-color: white;
      border: 1px solid #cccccc;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      padding: 5px 10px;
      .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 5px;
        .note {
          // padding-right: 10px;
          flex-grow: 1;
          text-align: justify;
          word-break: break-word;
        }
        .img {
          width: 30%;
          height: 30%;
          max-width: 80px;
          max-height: 80px;
          margin: 6px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
.diary-stage {
  background-color: var(--color-green-hover) !important;
  * {
    color: white;
  }
}
.header {
  display: flex;
  align-items: center;
  gap: 10px;

  .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
  }
  .title {
    font-size: var(--c-text-base);
    font-weight: bold;
  }
  .title-sub {
    font-size: var(--c-text-base);
    font-weight: 400;
  }
}
.time-estimate-less-than {
  font-weight: bold;
  color: var(--color-warning);
}
.time-estimate-greater-than {
  font-weight: bold;
  color: var(--color-green);
}
