.is-seen {
  font-size: 14px;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 10px;
}
.waitting {
  background: #fef2e5;
  color: #cd6200;
}
.seen {
  background: #ebf9f1;
  color: #1f9254;
}
.table-head-title {
  display: flex;
  //   justify-content: space-between;
}
.table-head-sort-btn {
  background: none;
  border: none;
  padding: 0px 8px;
  margin-left: 10px;
}
.time-seen {
  font-size: 12px;
}
.active-row{
  background-color: white;
  border-top: 3px solid red;
  border-left: 3px solid red;
  border-right: 3px solid red;
}
.row-data-detail{
  border-bottom: 3px solid red;
  border-left: 3px solid red;
  border-right: 3px solid red;
  height: 0px;
}
.select-filter-is-seen{
  border: 1px solid var(--color-green-hover);
  outline: none;
  cursor: pointer;
  padding: 10px 8px;
  border-radius: 8px;

}
.filter-title {
  align-items: center;
  justify-content: center;
  padding: 10px 8px;
}