.new-post-body {
  width: 928px;
  display: flex;

  .new-post-left {
    width: 570px;
    aspect-ratio: 1/1;
    user-select: none;

    .images-container {
      padding: 40px;
      width: 100%;
      height: 100%;
      overflow-y: scroll;

      .image-list {
        aspect-ratio: 1/1;
        display: grid;
        grid-template-columns: 150px 150px 150px;
        grid-template-rows: 150px 150px 150px;
        gap: 16px;

        .image-item {
          width: 150px;
          height: 150px;
          box-shadow: 0px 0px 4px 0px var(--color-gray);
          border-radius: 5px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
          }

          .remove-btn {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(30%, -30%);
            cursor: pointer;

            width: 20px;
            height: 20px;
            font-size: 14px;

            display: flex;
            justify-content: center;
            align-items: center;

            color: #fff;
            background-color: #f43333;
            border-radius: 50%;

            &:hover {
              background-color: #f61111;
            }
          }
        }
      }

      .upload-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        font-size: 13px;
      }
    }

    .btn-group {
      position: absolute;
      bottom: 20px;
      right: 20px;
      display: flex;
      align-items: center;
      gap: 20px;

      .img-btn {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: 50%;
        font-size: 1.2rem;
        transition: 0.2s ease;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        &:hover .upload-tooltip {
          opacity: 1;
        }

        .upload-tooltip {
          position: absolute;
          bottom: calc(100% + 5px);
          left: 50%;
          color: #000;
          font-size: 12px;
          white-space: nowrap;
          transform: translate(-50%);
          opacity: 0;
          transition: 0.2s;
          pointer-events: none;
        }

        &.upload-btn {
          background-color: var(--color-blue);
        }

        &.choose-btn {
          background: var(--color-green-hover);
        }

        &:hover {
          cursor: pointer;
          transform: translateY(-3px);
          opacity: 0.9;
        }
      }
    }
  }

  .new-post-right {
    flex: 1;
    display: flex;
    flex-direction: column;

    .right-user {
      display: flex;
      align-items: center;
      height: 60px;
      padding-left: 10px;
      gap: 20px;

      .avatar {
        width: 44px;
        height: 44px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .name {
        font-weight: 500;
      }
    }

    .right-description {
      padding: 0px 10px;
      border-top: 1px solid var(--color-gray);
      border-bottom: 1px solid var(--color-gray);
    }

    .right-setting {
      flex: 1;

      .setting-title {
        padding: 10px;
        font-size: 17px;
        font-weight: 600;
      }

      .setting-option {
        padding: 8px 30px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .option-name {
        }
      }
    }

    .right-submit {
      height: 40px;
      padding: 0px 20px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .send-post-btn {
        cursor: pointer;
        color: var(--color-green);
        font-weight: 600;
      }
    }
  }
}
