.garden {
  padding: 15px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  .garden-container {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 10px;

    .garden-header {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .search-tree {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid var(--color-border-input);
        padding: 5px 10px;
        border-radius: 5px;
        input {
          border: none;
          outline: none;
        }
      }

      .header-button {
        display: flex;
        gap: 15px;
        .header-btn {
          font-size: 0.9rem;
          display: flex;
          align-items: center;
          gap: 5px;
          padding: 4px 10px;
          border-radius: 5px;
          transition: 0.2s;
          &:hover {
            cursor: pointer;
            opacity: 0.6;
          }
        }
        .add-tree {
          border: 2px solid var(--color-border-button-no-fill);
        }
        .add-group {
          color: #fff;
          background-color: var(--color-blue);
        }
      }
    }
    .garden-body {
      width: 100%;
      height: 100%;
      font-size: 0.8rem;
      border-collapse: collapse;

      .table-header {
        border-bottom: 2px solid var(--color-border-button-no-fill);
        border-top: 3px solid var(--color-border-button-no-fill);
      }

      th {
        text-align: center;
        padding: 10px;
        border: none;
      }

      td {
        text-align: center;
        padding: 10px;
        border: none;

        &.actions {
          display: flex;
          justify-content: center;
          .action-icon {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
            background-color: transparent;
            &:hover {
              cursor: pointer;
              background-color: unset;
              // transform: scale(1.1);
            }

            .delete {
              font-size: 1.5rem;
              color: #cb1a1a;
            }
            .view {
              font-size: 1.3rem;
              color: #0b8339;
            }
          }
        }

        .plant-name {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          .plant-image {
            width: 30px;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 50%;
              box-shadow: 0 0 2px 2px #ccc;
            }
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .area {
        border-bottom: 5px solid transparent;
        margin: 10px;
        box-sizing: border-box;

        .heading {
          background-color: var(--color-blue);
          color: #fff;
          font-weight: 600;

          .area-title {
            text-transform: uppercase;
            text-align: left;
            font-size: 1rem;

            .area-collapse-icon {
              margin-right: 1rem;
              transition: 0.2s;

              &.hideee {
                opacity: 0;
                pointer-events: none;
              }
            }

            &:hover {
              cursor: pointer;
            }
          }

          .area-actions {
            .action {
              padding: 7px;
              font-size: 1rem;
              transition: 0.2s;
              &:hover {
                cursor: pointer;
                transform: scale(1.1);
              }
            }
          }
        }

        .hide {
          display: none;
        }
      }

      tr:nth-child(odd):not(:first-child) {
        background-color: #eae7ff;
      }
    }

    .status {
      padding: 5px 10px;
      border-radius: 200px;
      width: min-content;
      text-wrap: nowrap;
      margin: auto;
      &.well {
        color: #1f9254;
        background-color: #ebf9f1;
      }
      &.week {
        color: #cd6200;
        background-color: #fef2e5;
      }
      &.dead {
        color: #d5070d;
        background-color: #fbe7e8;
      }
      &.harvest {
        color: #1187e7;
        background-color: #bbdefb;
      }
    }
  }
}

body > .tree-item {
  // padding: 10px;
  // background-color: red;
  td {
    opacity: 0;
    img {
      display: none;
    }
  }
}
