.modal-confirm-post-plant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 160px;
  position: fixed;
  border: 1px solid black;
  z-index: 100;
  top: calc(50vh - 80px);
  left: calc(50vw - 200px);
  background-color: white;
  border-radius: 5px;
  .body {
    padding: 32px 5px 5px 44px;
    display: flex;
    .icon {
      padding: 0px 20px 10px 10px;
    }
    .title {
      font-size: 16px;
      font-weight: bold;
    }
    .msg {
      font-size: 14px;
      font-weight: 400;
    }
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 30px 20px 10px;
    .btn {
      background-color: white;
      cursor: pointer;
      border-radius: 5px;
      height: 32px;
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
    }
    .btn-confirm {
      background-color: var(--color-green);
      color: #fff;
    }

    .btn-cancel-confirm {
      border: 1px solid #aaa;
    }
  }
}
