.plant-list {
  --reference-width: 280px;
  display: flex;
  height: 100%;
  width: 100%;
  .plant-info {
    width: calc(100% - var(--reference-width));
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    @media only screen and (max-width: 768px) {
      padding: 10px;
      width: 100%;
    }
    overflow-y: scroll;
    .row-info {
      margin-bottom: 20px;
      border-radius: 5px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      background-color: #fff;
      .header-title {
        border-bottom: 1px solid grey;
        padding: 10px 20px;
      }

      .post-list {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media screen and (max-width: 1024px) {
          grid-template-columns: 1fr;
        }
        gap: 12px;
        .post-card {
          display: flex;
          gap: 10px;
          border: 1px solid grey;
          border-radius: 6px;
          padding: 10px;
          height: 120px;
          cursor: pointer;
          .thumpnail {
            display: flex;
            align-items: center;

            img {
              width: 125px;
              height: 100px;
              object-fit: contain;
              @media only screen and (max-width: 1200px) and (min-width: 1024px) {
                width: 110px;
                height: 88px;
              }
            }
          }
          .content {
            overflow: hidden;
            width: -webkit-fill-available;
            .content-head {
              display: flex;
              justify-content: space-between;
              .name-plant {
                font-weight: 500;
              }
            }
            .description {
              font-size: 14px;
              text-align: justify;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
            @media only screen and (max-width: 1200px) and (min-width: 1024px) {
              .content-head {
                .name-plant {
                  font-size: 14px;
                }
              }
              .description {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    .btn-add-plant {
      position: fixed;
      bottom: 0px;
      right: var(--reference-width, 280px);
      @media only screen and (min-width: 1024px) {
        right: var(--reference-width, 280px);
      }
      padding: 5px;
      border-radius: 50px;
      border: none;
      background-color: var(--color-green-hover);
      color: white;
      margin: 20px;
      z-index: 100;
      cursor: pointer;
    }
  }

  // .plant-reference {
  //   width: var(--reference-width);
  //   background-color: white;
  //   border-left: 1px solid gray;
  //   padding: 10px 8px;
  //   @media only screen and (max-width: 768px) {
  //     display: none;
  //   }
  //   .search-bar {
  //     //border: 1px solid black;
  //     width: 90%;
  //     margin: 0 auto;
  //     //padding: 5px;
  //     margin-bottom: 16px;
  //     //border-radius: 50px;
  //     display: flex;
  //     .icon-and-input {
  //       width: 80%;
  //       border: 1px solid black;
  //       display: flex;
  //       padding: 8px;
  //       border-top-left-radius: 50px;
  //       border-bottom-left-radius: 50px;
  //       span {
  //         width: 20%;
  //         cursor: pointer;
  //       }
  //       input {
  //         width: 80%;
  //         border: none;
  //         outline: none;
  //       }
  //     }
  //     .search-button {
  //       width: 20%;
  //       display: flex;
  //       align-items: center;
  //       text-align: center;
  //       border: 1px solid black;
  //       border-left: none;
  //       border-top-right-radius: 50px;
  //       border-bottom-right-radius: 50px;
  //       padding-left: 5px;
  //       color: green;
  //       font-weight: 600;
  //       cursor: pointer;
  //     }
  //   }
  //   .search-result-title {
  //     font-weight: 600;
  //     font-size: 16px;
  //     padding-bottom: 16px;
  //     border-bottom: 1px solid grey;
  //   }

  //   .filter-title {
  //     font-weight: 600;
  //     font-size: 18px;
  //     margin-top: 16px;
  //     margin-bottom: 6px;
  //   }

  //   .filter-container {
  //     .filter-all {
  //       display: flex;
  //       gap: 8px;
  //       padding: 12px 8px;
  //       border-radius: 8px;
  //       border: 1px solid var(--color-green);
  //       background-color: white;
  //       .icon-container {
  //         padding: 8px;
  //         border-radius: 50px;
  //         background-color: var(--color-green);
  //         display: flex;
  //         align-items: center;
  //         svg {
  //           background-color: white;
  //         }
  //       }

  //       .title {
  //         display: flex;
  //         align-items: center;
  //         color: var(--color-green);
  //         font-size: 16px;
  //       }
  //       &:hover {
  //         background-color: var(--color-green-hover);
  //       }
  //       &.active-all {
  //         background-color: var(--color-green);
  //         .icon-container {
  //           background-color: white;
  //           svg {
  //             background-color: white;
  //             color: white;
  //           }
  //         }
  //         .title {
  //           color: white;
  //         }
  //       }
  //     }

  //     .filter-type {
  //       .reference-list {
  //         .reference-item {
  //           color: var(--color-green);
  //           user-select: none;
  //           padding: 8px 50px;
  //           border-radius: 8px;
  //           .dot {
  //             width: 7px;
  //             height: 7px;
  //             border-radius: 50px;
  //             background-color: var(--color-green);
  //             display: inline-block;
  //             margin-right: 10px;
  //           }
  //           &:hover {
  //             cursor: pointer;
  //             background-color: var(--color-green-hover);
  //           }
  //           &.active {
  //             color: var(--color-white);
  //             background-color: var(--color-green);
  //             .dot {
  //               background-color: var(--color-white);
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}

.ant-pagination-item a:hover {
  color: green; /* Change the color of numbers when hovering */
}
.ant-pagination-item-active {
  color: green;
  border-color: green !important; /* Change the border color of the number when selected */
  a {
    color: green !important; /* Change the color of numbers when selected */
  }
}
