.post-page {
    width: 100%;
    display: flex;

    .detail-image {
        width: 70%;
    }

    .detail-info {
        background-color: #fff;
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-left: 3px solid rgba(0, 0, 0, 0.25);

        .post-header {
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .post-info {
                display: flex;
                align-items: center;
                gap: 20px;

                .owner-avatar {

                    img {
                        box-shadow: 0px 0px 2px 1px var(--color-green-hover);
                        width: 50px;
                        height: 50px;
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                    }
                }

                .post-detail {
                    .post-owner {
                        display: flex;
                        align-items: center;
                        gap: 30px;

                        .owner-username {
                            font-size: 18px;
                            font-weight: 400;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        .post-date {
                            color: #888;
                            font-size: 12px;
                            font-weight: 400;
                        }
                    }

                    .post-plant {
                        color: var(--color-green);
                        font-size: 14px;
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .dot {
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            background: var(--color-green)
                        }
                    }
                }
            }

            .post-setting {
                font-size: 20px;
                color: var(--color-green);
                cursor: pointer;
            }
        }

        .post-description {
            padding: 10px 20px;
            // border-top: 2px solid #CCC;
            border-bottom: 2px solid #CCC;
            text-align: justify;
        }

        .post-comments-box {
            border-top: 2px solid #CCC;
            border-bottom: 2px solid #CCC;
            flex: 1;
            padding: 10px;
            overflow-y: scroll;

            .comment-number {
                font-size: 14px;
                margin-bottom: 5px;
                text-align: end;
                font-weight: 600;
            }
        }

        .post-actions {
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;

            .action {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;

                .action-icon {
                    font-size: 24px;
                    color: var(--color-green);

                    &:hover .tooltip {
                        opacity: 1;
                    }

                    .tooltip {
                        position: absolute;
                        bottom: 100%;
                        left: 50%;
                        transform: translateX(-50%);

                        font-size: 12px;
                        white-space: nowrap;
                        background-color: var(--color-green);
                        color: #fff;
                        padding: 5px;
                        border-radius: 3px;
                        pointer-events: none;
                        opacity: 0;
                        transition: .3s;
                    }
                }

                .action-number {
                    font-size: 15px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .post-comment-input {
            padding: 10px 20px;

            .comment-input {
                border: none;
                box-shadow: none;
            }
        }

    }
}