.general-statistic-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
  gap: 8px;
  // padding: 10px 0;
  .statistic-tag {
    padding: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    box-shadow: 0 0 3px #b3b3b3;
    .left-content {
      display: flex;
      gap:10px;
      justify-content: center;
      align-items: center;
      .icon-content {
        .icon-wrapper {
          padding: 13px;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          align-self: center;
        }
      }
      .sum-data-content {
        .title {
          text-transform: uppercase;
          font-size: 14px;
          color: rgb(140 144 151 / 1);
        }
        .value {
          font-size: 1.25rem;
          font-weight: 600;
        }
      }
    }
    .right-content{
      align-self: end;
      .number-increase {
        font-size: 12px;
        color: var(--title);
      }
      .title {
        font-size: 10px;
        color: rgb(140 144 151 / 1);
      }
    }
  }
}
