.library-select-images {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #00000035;
  padding: 25px;

  .lib-container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    .lib-images {
      flex: 1;
      padding: 20px;
      overflow-y: auto;
      display: flex;
      justify-content: center;

      & {
        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
          background: #09b67c;
          border-radius: 8px;

          &:hover {
            background-color: #12d695;
          }
        }
      }

      .images-list {
        height: 100%;
        aspect-ratio: 1/1;
        display: grid;
        justify-content: center;
        grid-template-columns: 31% 31% 31%;
        // grid-template-rows: 32% 32% 32%;
        gap: 2%;

        .image-item {
          img {
            aspect-ratio: 1/1;
            border-radius: 2px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          &.selected {
            border: 3px solid var(--color-blue);
            border-radius: 4px;
          }

          .number {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(40%, -40%);

            width: 20px;
            height: 20px;
            border-radius: 50%;
            font-size: 14px;

            background-color: var(--color-blue);
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .actions-container {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .action-btn {
        margin-right: 20px;
        background-color: var(--color-green);
        color: #fff;
        padding: 5px 15px;
        border-radius: 200px;
        font-size: 12px;
        cursor: pointer;
        font-weight: 600;

        &.cancel {
          color: var(--color-green);
          background-color: #fff;
          border: 1px solid var(--color-green);
        }

        &.select {
          background-color: var(--color-green);
          color: #fff;
        }
      }
    }
  }
}
